<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fest.utkarsh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ut"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".AtlantusTabActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".CulturalTabActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".DexteriaTabActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".UtPlayerActivity"
            android:theme="@style/AppTheme.YesActionBar" />
        <activity android:name=".DexPlayerActivity" />
        <activity android:name=".AtlPlayerActivity" />
        <activity android:name=".VideoActivity" />
        <activity
            android:name=".RegEventActivity"
            android:theme="@style/MyMaterialTheme.Base"/>

    </application>

</manifest>